@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Khula&family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #edf0f1;
  height: 100%;
}

li, a, button {
  font-family: 'Khula', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #24252a;
  text-decoration: none;
  background-color: #edf0f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #edf0f1;
}

.logo {
  width: 75px;
  cursor: pointer;
  background-color: #edf0f1;
}

.navLinks {
  list-style: none;
  color: #edf0f1;
  background-color: #edf0f1;
}

.navLinks li {
  display: inline-block;
  color: #edf0f1;
  background-color: #edf0f1;
}

.navLinks a {
  transition: all 0.3s ease 0s;
  padding: 0px 25px;
  font-size: 20px;
  background-color: #edf0f1;
}

.navLinks a:hover {
  color:#0088a9;
}

button {
  padding: 8px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  padding-top: 11px;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.heroImage {
  background-color: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");
  height: 75%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.heroText {
  text-align: left;
  position: absolute;
  top: 25%;
  left: 15%;
  color: white;
  width: 30%;
  font-size:7vh;
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
  box-shadow: 3px 0px 0px rgba(0,136,169,1);
}

.Title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  background-color: #edf0f1;
  text-align: center;
  float: center;
  margin-top: 85px;
  margin-bottom: 90px;
}

.title2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  background-color: #4f5253;
  text-align: center;
  float: center;
  margin-top: 85px;
  margin-bottom: 90px;
}

.panelText {
  text-shadow: 2px 2px rgb(161, 161, 161);
  color: rgb(0, 136, 169);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: rgb(190, 186, 186);
  border-style: inset; 
}


.card {
  display: inline-block;
  width: 400px;
  white-space: initial;
  background-color: rgb(255, 255, 255);
  height: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px rgb(177, 174, 174);
  margin-right: 5px;
  margin-left: 5px;
  transition: all 0.30s ease;
}

.card:hover {
  box-shadow: 2px 2px 10px rgb(91, 127, 129);
}

.imageCard {
  width: 400px;
  height: 400px;
  object-fit: cover; 
  vertical-align: bottom;
}

.cardTitle {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 5px;
}

.cardDesc {
  text-align: center;
  line-height: 18px;
  margin-bottom: 10px;
  font-style: italic;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-right: 5%;
  font-family: 'Poppins', sans-serif;
}

.divider {
  background-color: rgb(0, 11, 43);
  margin-bottom: 2%;
  height: 15px;
}

.storiescheck {
  background-color: rgba(0,136,169,1);
  height: 20vh;
}

.left-and-right {
  color: white;
  background-color: black;
  text-align: center;
  display: table;
  width: 100%;
  
}

.left-half {
  position: absolute;
  left: 0px;
  width: 50%;
  height: 60%;
  background-color: #464646;
}

.right-half {
  background-color: #464646;
  position: absolute;
  right: 0px;
  width: 50%;
  height: 60%;
}

#columnchart_material {
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  transition: all 0.30s ease;
  width: 800px; 
  height: 500px;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
}

.separate {
  background-color: edf0f1;
  height: 7vh;
  border-style: inset; 
}

.left-text {
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  margin-top: 20px;
  transition: all 0.30s ease;
}

.left-text:hover {
  font-size: 95px;
}

.left-sub {
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-size: 28px;
  font-style: italic;
}