@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Khula&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #edf0f1;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: rgb(136, 175, 207);
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

li, a, button {
  font-family: 'Khula', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #24252a;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  width: 75px;
  cursor: pointer;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
}

.navLinks a {
  transition: all 0.3s ease 0s;
  padding: 0px 25px;
  font-size: 20px;
}

.navLinks a:hover {
  color:#0088a9;
}

button {
  padding: 8px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  padding-top: 11px;
}

button:hover {
  background-color: rgba(0, 136, 169, 1);
}




