@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Khula&family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:rgb(255, 255, 255);
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

li, a, button {
  font-family: 'Khula', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #24252a;
  text-decoration: none;
  background-color: #edf0f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #edf0f1;
}

.logo {
  width: 75px;
  cursor: pointer;
  background-color: #edf0f1;
}

.navLinks {
  list-style: none;
  color: #edf0f1;
  background-color: #edf0f1;
}

.navLinks li {
  display: inline-block;
  color: #edf0f1;
  background-color: #edf0f1;
}

.navLinks a {
  transition: all 0.3s ease 0s;
  padding: 0px 25px;
  font-size: 20px;
  background-color: #edf0f1;
}

.navLinks a:hover {
  color:#0088a9;
}

button {
  padding: 8px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  padding-top: 11px;
}

button:hover {
  background-color: rgba(0, 136, 169, 1);
}

.herosection {
  padding-bottom: 3%;
  background-color: rgb(230, 230, 230);;
}

.herophoto {
  margin-top: 3%;
  margin-left: 6%;
  box-shadow: 10px 10px 6px rgb(197, 197, 197);
  transition: all 0.30s ease;
  display: inline-flex;
}

.herophoto:hover {
  box-shadow: 15px 15px 6px rgb(155, 155, 155);
}

.mainText {
  display: inline-flex;
  float: right;
  background-color: rgb(230, 230, 230);
  margin-right: 7%;
  margin-top: 5%;
  font-size: 70px;
  color: #44a9d8be;
  font-family: 'Poppins', sans-serif;
  width: 750px;
  line-height: 75px;
}

.highlight {
  background-color: white;
}

.descText {
  display: inline-flex;
  float: right;
}


